
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            color: #ffffff;
        }

        .navbar {
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #000000c4;
            box-shadow: white 0px 0px 4px 0.2px;
            padding: 0 20px;
            box-sizing: border-box;
        }

        .navbar .logo img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }

        .navbar nav {
            display: flex;
            align-items: center;

        }

        .navbar nav li {
            margin-left: 8px;
            list-style: none;

        }

        .navbar nav li a {
            display: flex;
            align-content: center;
            align-items: center;
            border: none;
            padding: 3px 16px;
            /* border: 2px solid white; */
            color: white;
            text-decoration: none;
            /* margin: 0px 20px; */
            font-size: 19px;
            font-weight: bold;
            box-shadow: inset #313030 0px 0px 0px 3px;
            background-color: #fdd835;
            border-radius: 25px;
        }

        .logo h3 {
            font-size: 23px;
            font-weight: bold;
            color: white;

        }

        .logo h3 span {
            color: #fdd835;
            font-size: 25px;
            font-weight: bold;
        }

        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
            background-image: url("../images/main_page.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100%;
        }

        main {
            height: calc(100% - 100px);
        }

        .main-grid {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 20px;

            padding: 20px 20px 0px 20px;
            height: 99%;
        }

        .category-contaner,
        .item-contaner {
            background: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            height: 99%;
            min-height: 0;
            box-shadow: white 0px 0px 4px 0.2px;
            padding: 16px;
        }

        .item-contaner {
            width: -webkit-fill-available;
        }

        .border-contaner {
            width: 100%;
            height: 100%;
            border: 2px solid #313030;
            border-radius: 10px;
            margin-bottom: 16px;
        }

        .heading {
            background-color: #fdd835;
            color: #2a2d2d;
            border-radius: 10px 10px 0px 0px;
            text-align: center;
            margin-bottom: 3px;
            /* border-radius: 5px;
            font-size: 20px;
            font-weight: bold; */
        }

        .heading h2 {
            margin: 0;
        }

        .category-list {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            justify-items: center;

        }

        .price{
            color: greenyellow;
        }

        .item-list {
            margin-bottom: 10px;
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;
            justify-items: center;

        }

        .category-list a {
            text-decoration: none;
            color: #ffffff;
            text-align: center;

        }

        .category-list a h3 {
            margin-top: 5px;
            margin-bottom: 20px;
        }

        .cart-btn {
            display: flex;
            margin-top: 5px;
            align-content: center;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            gap: 30px;
            margin-top: 5px;
        }

        .item-list .cart-btn a {
            box-shadow: 0 0 10px rgba(37, 99, 235, 0.5);
    background: linear-gradient(to right, #facc15, #ef4444);
            padding: 4px 26px;
            border-radius: 11px;

            text-decoration: none;
            color: #ffffff;
            text-align: center;

        }

        .item-list h3 {
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .category-list img {
            height: 150px;
            width: 150px;
            border-radius: 20px;
            box-shadow: white 0px 0px 10px 0.5px;
        }

        .item-list img {
            height: 150px;
            width: 200px;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: white 0px 0px 10px 0.5px;
        }

        .table-scroll-category {
            max-height: 94.3%;
            overflow-y: auto;
            width: 100%;
            scrollbar-width: 1px;
            -ms-overflow-style: none;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            justify-items: center;
        }


        .table-scroll-item {
            max-height: 94.3%;
            overflow-y: auto;
            width: 100%;
            scrollbar-width: 1px;
            -ms-overflow-style: none;
            display: grid;
            grid-template-columns: repeat(3, minmax(220px, 1fr));
            gap: 10px;
            align-items: center;
            justify-content: center;
            justify-items: center;

        }

        .table-scroll-category::-webkit-scrollbar,
        .table-scroll-item::-webkit-scrollbar {
            display: none;
        }

       

        
        /* Responsive for tablets */
        @media (max-width: 900px) {
            .main-grid {
                grid-template-columns: 1fr;
                /* Stack category and items vertically */
                gap: 16px;
            }

            .table-scroll-item {
                grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            }

            .table-scroll-category {
                grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            }

            .category-contaner,
            .item-contaner {
                height: auto;
                min-height: 200px;
            }


        }

        /* Responsive for mobile */
        @media (max-width: 600px) {
            .main-grid {
                padding: 8px;
            }

            .table-scroll-category {
                grid-template-columns: 1fr;
            }

            .table-scroll-item {
                grid-template-columns: 1fr;
                /* 1 column for items on mobile */
            }

            .category-list img,
            .item-list img {
                width: 100px;
                height: 100px;
            }
        }
