html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.navbar {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000c4;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar .logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.navbar nav {
    display: flex;
    align-items: center;

}

.navbar nav li {
    list-style: none;

}

.navbar nav li a {
    display: flex;
    align-content: center;
    align-items: center;
    border: none;
    padding: 3px 16px;
    /* border: 2px solid white; */
    color: white;
    text-decoration: none;
    /* margin: 0px 20px; */
    font-size: 19px;
    font-weight: bold;
    box-shadow: inset #313030 0px 0px 0px 3px;
    background-color: #fdd835;
    border-radius: 25px;
}

.logo h3 {
    font-size: 23px;
    font-weight: bold;
    color: white;

}

.logo h3 span {
    color: #fdd835;
    font-size: 25px;
    font-weight: bold;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    background-image: url("../images/main_page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-contaner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.main-contaner table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #333;
}

.main-contaner ul {
    margin: 0;
    padding-left: 16px;
}

.main-contaner button {
    background-color: #03bc1f;
    border-radius: 3px;
    border: none;
    padding: 1px 10px;
    color: white;
}

.main-contaner th,
td {
    text-align: center;
    border: 2px solid #333;
}

.contaner1,
.contaner2 {
    background-color: #0000009c;
    padding: 0px 10px;
    margin: 5px 5px;
    border-radius: 5px;

}

.contaner1 h2,
.contaner2 h2 {
    background-color: #fdd835;
    align-items: center;
    color: #2a2d2d;
    text-align: center;
    border-radius: 5px;
}

.contaner2 h2 {
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-scroll {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}